amqp
billiard==3.5.0.4
celery==5.2.2
click
cycler
Flask>=0.10.1
Flask-SQLAlchemy>=1.0
itsdangerous
Jinja2
joblib
kombu
MarkupSafe
matplotlib==3.0.3
metric-learn==0.5.0
mysql-connector
numpy>=1.14
pandas==0.25
psycopg2-binary>=2.5.4
pyparsing
python-dateutil
pyyaml
scikit-learn==0.21.2
scipy==1.1
seaborn
SQLAlchemy>=0.9.8
