amqp
billiard==3.5.0.4
celery==4.2.1
click
cycler
Flask>=0.10.1
Flask-SQLAlchemy>=1.0
itsdangerous
Jinja2
kombu
MarkupSafe
matplotlib
metric-learn==0.4.0
mysql-connector
numpy>=1.14
pandas>=0.19.2
psycopg2-binary>=2.5.4
pyparsing
python-dateutil
pyyaml
scikit-learn==0.20.0
scipy==1.1
SQLAlchemy>=0.9.8
