<!DOCTYPE html>
<html>
<meta charset='utf-8'>

<head>
  <title>Active Learning</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/static/lib/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/static/lib/css/jquery-ui.min.css'>
  <link rel='stylesheet' href='/static/css/custom.css'>
  <script src='/static/lib/js/jquery.min.js'></script>
  <script src='/static/lib/js/jquery-ui.min.js'></script>
  <script src='/static/lib/js/bootstrap.min.js'></script>
  <script src='/static/lib/js/d3.min.js'></script>
  <script src='/static/lib/js/Chart.min.js'></script>
</head>

<body>
      <div class='col-md-12', id=row_title>
      </div>
      <div class='col-md-12', id=row_1>
      </div>
      <div class='col-md-12', id=row_2>
      </div>
      <div class='col-md-12', id=row_3>
      </div>
</body>

<script src='/static/js/Tools/experiment_tools.js'></script>
<script src='/static/js/Tools/labels_tools.js'></script>
<script src='/static/js/Tools/web_tools.js'></script>
<script src='/static/js/Plots/BarPlot.js'></script>
<script src='/static/js/Plots/Chart.Bands.js'></script>
<script src='/static/js/Plots/Density.js'></script>
<script src='/static/js/Classification/monitoring.js'></script>
<script src='/static/js/Classification/families_monitoring.js'></script>
<script src='/static/js/Classification/performance_monitoring.js'></script>
<script src='/static/js/Classification/predictions_monitoring.js'></script>
<script src='/static/js/ActiveLearning/divisions.js'></script>
<script src='/static/js/ActiveLearning/information.js'></script>
<script src='/static/js/ActiveLearning/monitoring.js'></script>
<script src='/static/js/ActiveLearning/annotation_queries.js'></script>
<script src='/static/js/ActiveLearning/active_learning_tools.js'></script>
<script src='/static/js/ActiveLearning/active_learning.js'></script>

</html>
