<!DOCTYPE html>
<html>
<meta charset='utf-8'>

<head>
  <title>Annotated Instances</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/static/lib/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/static/css/custom.css'>
  <script src='/static/lib/js/jquery.min.js'></script>
  <script src='/static/lib/js/bootstrap.min.js'></script>
  <script src='/static/lib/js/d3.min.js'></script>
  <script src='/static/lib/js/Chart.min.js'></script>
</head>

<body>
  <div class='col-md-12' id='main'>
  </div>
</body>

<script src='/static/js/InstancesInformation/InstancesInformation.js'></script>
<script src='/static/js/InstancesInformation/{{ project }}.js'></script>

<script src='/static/js/Plots/BarPlot.js'></script>
<script src='/static/js/Tools/experiment_tools.js'></script>
<script src='/static/js/Tools/labels_tools.js'></script>
<script src='/static/js/Tools/web_tools.js'></script>
<script src='/static/js/ActiveLearning/current_annotations.js'></script>

</html>
