<!DOCTYPE html>
<html>
<meta charset='utf-8'>

<head>
  <title>Features Analysis</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/static/lib/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/static/css/custom.css'>
  <script src='/static/lib/js/jquery.min.js'></script>
  <script src='/static/lib/js/bootstrap.min.js'></script>
  <script src='/static/lib/js/Chart.min.js'></script>
  <script src='/static/lib/js/d3.min.js'></script>
</head>

<body>
    <div class='container'>
        <div class='col-md-12' id='row_title'>
        </div>

        <div class='col-md-6' id='col_1'>
            <div class='col-md-6' id='col_sorting'>
            </div>
            <div class='col-md-6' id='col_features'>
            </div>
            <div class='col-md-12' id='col_graph'>
            </div>
            <div class='col-md-12' id='col_description'>
            </div>
        </div>

        <div class='col-md-6' id='col_stats'>
        </div>

    </div>
</body>

<script src='/static/js/tools/experiment_tools.js'></script>
<script src='/static/js/tools/tools.js'></script>
<script src='/static/js/tools/web_tools.js'></script>
<script src='/static/js/plots/BarPlot.js'></script>
<script src='/static/js/features_analysis/divisions.js'></script>
<script src='/static/js/features_analysis/main.js'></script>

</html>
