<!DOCTYPE html>
<html>
<meta charset='utf-8'>

<head>
  <title>Active Learning</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/static/lib/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/static/lib/css/jquery-ui.min.css'>
  <link rel='stylesheet' href='/static/css/custom.css'>
  <script src='/static/lib/js/jquery.min.js'></script>
  <script src='/static/lib/js/jquery-ui.min.js'></script>
  <script src='/static/lib/js/bootstrap.min.js'></script>
  <script src='/static/lib/js/d3.min.js'></script>
  <script src='/static/lib/js/Chart.min.js'></script>
</head>

<body>

      <div class='col-md-12', id=row_title>
      </div>
      <div class='col-md-12', id=row_1>
      </div>
      <div class='col-md-12', id=row_2>
      </div>
      <div class='col-md-12', id=row_3>
      </div>

</body>

<script src='/static/js/tools/experiment_tools.js'></script>
<script src='/static/js/tools/labels_tools.js'></script>
<script src='/static/js/tools/web_tools.js'></script>
<script src='/static/js/plots/BarPlot.js'></script>
<script src='/static/js/plots/Chart.Bands.js'></script>
<script src='/static/js/plots/Density.js'></script>
<script src='/static/js/classification/monitoring.js'></script>
<script src='/static/js/classification/performance_monitoring.js'></script>
<script src='/static/js/classification/predictions_barplot.js'></script>
<script src='/static/js/classification/predictions_monitoring.js'></script>
<script src='/static/js/active_learning/divisions.js'></script>
<script src='/static/js/active_learning/information.js'></script>
<script src='/static/js/active_learning/monitoring.js'></script>
<script src='/static/js/active_learning/annotation_queries.js'></script>
<script src='/static/js/active_learning/active_learning_tools.js'></script>
<script src='/static/js/active_learning/main.js'></script>

</html>
