<!DOCTYPE html>
<html>
<meta charset='utf-8'>

<head>
  <title>Annotations</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/static/lib/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/static/css/custom.css'>
  <script src='/static/lib/js/jquery.min.js'></script>
  <script src='/static/lib/js/bootstrap.min.js'></script>
  <script src='/static/lib/js/d3.min.js'></script>
  <script src='/static/lib/js/Chart.min.js'></script>
</head>

<body>
  <div class='col-md-12' id='main'>
  </div>
</body>

<script src='/static/js/instances_visu/main.js'></script>
<script src='/static/js/instances_visu/{{ project }}.js'></script>

<script src='/static/js/tools/experiment_tools.js'></script>
<script src='/static/js/tools/labels_tools.js'></script>
<script src='/static/js/tools/web_tools.js'></script>
<script src='/static/js/active_learning/active_learning_tools.js'></script>
<script src='/static/js/active_learning/annotation_process_tools.js'></script>
<script src='/static/js/active_learning/rcd_annotations.js'></script>

</html>
