<!DOCTYPE html>
<html>
<meta charset='utf-8'>

<head>
  <title>Families Performance</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/static/lib/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/static/css/custom.css'>
  <link rel='stylesheet' href='/static/lib/css/jquery-ui.min.css'>
  <script src='/static/lib/js/jquery.min.js'></script>
  <script src='/static/lib/js/jquery-ui.min.js'></script>
  <script src='/static/lib/js/bootstrap.min.js'></script>
  <script src='/static/lib/js/Chart.min.js'></script>
</head>

<body>
  <div class='container'>
    <div class='row' id='slider_row'>
      <div class='col-md-2'>
          <div id=threshold>
          </div>
      </div>
      <div class='col-md-3'>
          <div id=slider>
          </div>
      </div>
    </div>
    <div class='row' id='row2'>
          <div id=barplot>
          </div>
    </div>
  </div>
</body>

<script src='/static/js/Plots/BarPlot.js'></script>
<script src='/static/js/Tools/web_tools.js'></script>
<script src='/static/js/Classification/families_monitoring.js'></script>
<script src='/static/js/Classification/display_families_performance.js'></script>

</html>
