<!DOCTYPE html>
<html>
<meta charset='utf-8'>

<head>
  <title>DIADEM</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/static/lib/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/static/lib/css/jquery-ui.min.css'>
  <link rel='stylesheet' href='/static/css/custom.css'>
  <script src='/static/lib/js/d3.min.js'></script>
  <script src='/static/lib/js/jquery.min.js'></script>
  <script src='/static/lib/js/jquery-ui.min.js'></script>
  <script src='/static/lib/js/bootstrap.min.js'></script>
  <script src='/static/lib/js/Chart.min.js'></script>
</head>

<body>
      <div class='col-md-12' id='row_title'>
      </div>
      <div class='col-md-12' id='row_1'>
            <div class='col-md-4' id='exp'>
            </div>
            <div class='col-md-4' id='select_fold'>
            </div>
            <div class='col-md-4' id='col_1_3'>
            </div>
      </div>
      <div class='col-md-12' id='row_2'>
            <div class='col-md-4' id='coeff'>
            </div>
            <div class='col-md-4' id='train'>
            </div>
            <div class='col-md-4' id='test'>
            </div>
      </div>
</body>

<script src='/static/js/plots/BarPlot.js'></script>
<script src='/static/js/plots/Chart.Bands.js'></script>
<script src='/static/js/tools/tools.js'></script>
<script src='/static/js/tools/experiment_tools.js'></script>
<script src='/static/js/tools/labels_tools.js'></script>
<script src='/static/js/tools/web_tools.js'></script>
<script src='/static/js/diadem/divisions.js'></script>
<script src='/static/js/diadem/detection_monitoring.js'></script>
<script src='/static/js/diadem/model_interpretation.js'></script>
<script src='/static/js/diadem/performance_monitoring.js'></script>
<script src='/static/js/diadem/predictions_barplot.js'></script>
<script src='/static/js/diadem/predictions_monitoring.js'></script>
<script src='/static/js/diadem/tools.js'></script>
<script src='/static/js/diadem/main.js'></script>

</html>
