.panel-heading {
  padding: 6px 15px;
}

.nav > li > a {
  padding: 6px 15px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  color: red;
}

#slider, #slider_train, #slider_test, #slider_cv, #slider_validation {
  float: right;
  clear: right;
  width: 100%;
  margin: 5.5px 0px;
  background: #5cb85c;
}

#slider .ui-slider-range   { background: #d9534f; }
#slider .ui-slider-handle  { background: #000000; }

#slider_train .ui-slider-range   { background: #d9534f; }
#slider_train .ui-slider-handle  { background: #000000; }

#slider_test .ui-slider-range   { background: #d9534f; }
#slider_test .ui-slider-handle  { background: #000000; }

#slider_cv .ui-slider-range   { background: #d9534f; }
#slider_cv .ui-slider-handle  { background: #000000; }

#slider_validation .ui-slider-range   { background: #d9534f; }
#slider_validation .ui-slider-handle  { background: #000000; }
