amqp
billiard
celery>=3.1.13
click
cycler
Flask>=0.10.1
Flask-SQLAlchemy>=1.0
functools32
itsdangerous
Jinja2
kombu
MarkupSafe
matplotlib
metric-learn>=0.3.0
mysql-connector>=2.1.3,<=2.1.4
numpy==1.12.1
pandas==0.19.2
pkg-resources
psycopg2>=2.5.4
pyparsing
python-dateutil
pytz
scikit-learn==0.18.0
scipy==0.18.1
six
SQLAlchemy>=0.9.8
subprocess32
vine
Werkzeug
pyyaml
